img.profile_pic{
    width: 200px;
    height: auto;
}

.navbar {
    background-image: none;
    background-color: black;
    opacity: 0.75;
}

.content {
    margin-top: 20px;
}

.home_skill_title {
    text-align: center;
}

.individual_skill h4 {
    text-align: center;
}

.footer {
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer p {
    color: white;
}