img.profile_pic{
    width: 200px;
    height: auto;
}

.content {
    margin-top: 5em;
}

.buttons {
    margin-left: 0px;
}

.buttons .btn {
    margin-right: 1em;
}

.skills {
    margin-top: 5em;
    margin-bottom: 3em;
}

.home_skill_title {
    text-align: center;
}

.individual_skill h4 {
    text-align: center;
}

.footer {
    background-color: black;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 1em;
}

.footer p {
    color: white;
}